.upload-wrapper {
  background: #87ceeb;
  padding: 40px;
  border-radius: 30px;
  text-align: center;
  max-width: 600px;
  margin: 100px auto;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.upload-title {
  color: #2c3e50;
  margin-bottom: 25px;
}

.upload-box-modern {
  border: 2px dashed #ffffff;
  background: linear-gradient(135deg, #6fb9e8, #87ceeb);
  border-radius: 25px;
  padding: 50px 20px;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
}

.upload-box-modern:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.upload-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.preview-img {
  max-width: 100%;
  border-radius: 20px;
}

.upload-actions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.upload-btn,
.camera-btn,
.pred-button,
.clear-btn {
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.upload-btn,
.clear-btn {
  background: #2c3e50;
  color: white;
}

.upload-btn:hover,
.clear-btn:hover {
  background: #1a252f;
}

.clear-btn-div {
  text-align: center;
}


.camera-btn,
.pred-button {
  background: #ffffff;
  color: #2c3e50;
}

.camera-btn:hover,
.pred-button:hover {
  background: #f1f1f1;
}

.pred-button {
  margin-top: 20px;
}

.result-box {
  background: #ffffffcc;
  padding: 20px;
  border-radius: 20px;
  margin-top: 25px;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.result-box h3 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.details-box {
  margin-top: 15px;
  padding-left: 10px;
}

.details-box p,
.details-box ul,
.details-box li {
  color: #2c3e50;
  line-height: 1.5;
}

.details-box ul {
  padding-left: 20px;
  margin: 5px 0;
}

.details-box li {
  list-style-type: disc;
}

.details-box strong {
  color: #1a252f;
}

.details-box em {
  font-style: italic;
  color: #2c3e50;
}

.error-box {
  background: #ffcccc;
  color: #b30000;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
}